
aws/task-definitions/session-manager-plugin.deb
docker/**/*
frontend-react-js/build/*
frontend-react-js.env
backend-flask.env
.devcontainer/Dockerfile
.devcontainer/devcontainer.json
node_modules

sample.sh
.DS_Store
